.App{
    /* background-image: url('./pexels-miguel-á-padriñán-1111368.jpg'); */
    height: 100vh;
    overflow: hidden;
    /* background-position: center; */
    /* background-size: cover; */
}

.userImg {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.userImgModal {
  height: 90%;
  width: 50%;
}

.userImgChat {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
}

.userImgSearch{
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.li-hover:hover{
  background-color: #0d6efd!important;
  color: white;
}
.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

 @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
  background: #555;
} 
